<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      抢单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <!-- <ion-tab-bar slot="top"> -->
    <ion-toolbar style="margin-top: -15px;height: 40px;">
      <ion-buttons slot="end">
        <ion-tab-button tab="home">附近</ion-tab-button>
        <ion-tab-button tab="settings">城际</ion-tab-button>
      </ion-buttons>
    </ion-toolbar>
    <!-- </ion-tab-bar> -->
    <ion-tab tab="home" class="tab-css">
      <ion-card *ngFor="let user of users" (click)="showUserDetail(user)">
        <ion-item class="activated">
          <ion-label>{{user.name}}</ion-label>
          <ion-icon name="pin" slot="end"></ion-icon>
          <ion-badge color="secondary">距您1公里</ion-badge>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-item>
                <ion-icon name="wifi" slot="start"></ion-icon>
                <ion-label>{{user.time}}</ion-label>
              </ion-item>
            </ion-row>
            <ion-row>起点:{{user.from}}</ion-row>
            <ion-row>终点:{{user.to}}</ion-row>
            <ion-row>需要车型:{{user.type}}</ion-row>
            备注
          </ion-col>
          <ion-col text-center align-self-center style="font-size: 20px;color: red;font-weight: bolder">{{user.fee}}元</ion-col>
        </ion-row>
      </ion-card>
    </ion-tab>
    <ion-tab tab="settings" class="tab-css">
      <p>城际订单</p>
    </ion-tab>
  </ion-tabs>
</ion-content>