<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      行程
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map_container class="map_container">
    <div style="position:absolute; display: inline-block;z-index: 9999">
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>