<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="bus"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      认证
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="takePhoto()" color="success" shape="round">拍照</ion-button>
  <img [src]="driverPassport">
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>