<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-item color="success">
          <ion-avatar slot="start" style="margin-left: 10%;">
            <img src="assets/img/person.jpeg">
          </ion-avatar>
          <ion-label (click)="login($event)">
            <h2>{{username}}</h2>
            <p>个人签名...</p>
          </ion-label>
        </ion-item>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-button shape="round" routerLink="/grab" color="success">
            <ion-icon slot="start" name="bus"></ion-icon> 切换为司机
          </ion-button>
        </ion-menu-toggle>
        <ion-card *ngIf="isAdmin">
          <ion-card-header>
            <ion-card-subtitle>管理区域</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" routerLink="/verify">
                <ion-icon slot="start" name="lock"></ion-icon>
                <ion-label> 证件审核 </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>