<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>货运订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="status" (ionChange)="load()">
    <ion-segment-button value="accept" checked>
      进行中
    </ion-segment-button>
    <ion-segment-button value="done">
      已完成
    </ion-segment-button>
    <ion-segment-button value="cancel">
      已取消
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let order of orders" (click)="navigate(order)">
    <ion-card-header>
      <ion-card-subtitle>{{order.type}}</ion-card-subtitle>
      <ion-item>
        <ion-label>{{order.created | date:'yyyy,MM-dd HH:mm'}}</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="log-out"></ion-icon>{{order.from?.name}}
      </p>
      <p>
        <ion-icon name="log-in"></ion-icon>{{order.to?.name}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>