<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>我的钱包</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>当前余额</ion-card-subtitle>
      <ion-card-title>¥{{account.fee}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="success" shape="round">去充值</ion-button>
  </ion-card>
</ion-content>