<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      货运物联
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanQR()">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()" [options]="sliderConfig">
    <ion-slide (click)="itemClick(vehicle)" *ngFor="let vehicle of vehicles">
      <ion-label [class.selected]="currentVehicle?.name === vehicle.name">{{vehicle.name}}</ion-label>
    </ion-slide>
  </ion-slides>
  <ion-row style="height: 180px;" align-items-center>
    <ion-col (click)="slidePrev()">
      <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-img [src]="currentVehicle?.image" class="freight-size"></ion-img>
    </ion-col>
    <ion-col text-end (click)="slideNext()">
      <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center class="small-size">{{currentVehicle?.weight}}
      <br />载重</ion-col>
    <ion-col text-center class="small-size">{{currentVehicle?.lwh}}
      <br />长宽高</ion-col>
    <ion-col text-end class="small-size">{{currentVehicle?.cube}}
      <br />载货体积</ion-col>
  </ion-row>
  <br />
  <br />
  <ion-list>
    <ion-item>
      <ion-avatar slot="start" (click)="presentFromModal()">
        <ion-img src="assets/img/from.png"></ion-img>
      </ion-avatar>
      <div>
        <div (click)="presentFromModal()" style="width:300px">起点</div>
        {{order?.from?.address}}
        <ion-input *ngIf="order.from" [(ngModel)]="order.from.name" class="input-css"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" (click)="presentToModal()">
        <ion-img src="assets/img/to.png"></ion-img>
      </ion-avatar>
      <div>
        <div (click)="presentToModal()" style="width:300px">终点</div>
        {{to?.address}}
        <ion-input *ngIf="to" [(ngModel)]="to.name" class="input-css"></ion-input>
      </div>
    </ion-item>
  </ion-list>
  费用：¥{{order.fee}}
</ion-content>
<ion-footer>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-button (click)="beginNow()">现在用车</ion-button>
      <ion-button>
        <ion-datetime picker-format="YYYY MMM, DD HH:mm" min="2019-02-05" max="2019-02-08" cancelText="取消" doneText="确定">预约</ion-datetime>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>