<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      货运物联
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanQR()">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()" [options]="sliderConfig">
    <ion-slide (click)="itemClick(freight)" *ngFor="let freight of freights">
      <ion-label [class.selected]="currentFreight?.name === freight.name">{{freight.name}}</ion-label>
    </ion-slide>
  </ion-slides>
  <ion-row style="height: 180px;" align-items-center>
    <ion-col (click)="slidePrev()">
      <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-img [src]="currentFreight?.image" style="height: 150%;width: 150%;margin-left: -50px"></ion-img>
    </ion-col>
    <ion-col text-end (click)="slideNext()">
      <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center class="small-size">{{currentFreight?.weight}}
      <br/>载重</ion-col>
    <ion-col text-center class="small-size">{{currentFreight?.lwh}}
      <br/>长宽高</ion-col>
    <ion-col text-end class="small-size">{{currentFreight?.cube}}
      <br/>载货体积</ion-col>
  </ion-row>
  <br/>
  <br/>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start" (click)="presentFromModal()">
        <ion-img src="assets/img/from.png"></ion-img>
      </ion-avatar>
      <div>
        <div (click)="presentFromModal()">起点</div>
        {{from?.data?.address}}
        <ion-input *ngIf="from?.data" [(ngModel)]="from?.data.name" class="input-css"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" (click)="presentToModal()">
        <ion-img src="assets/img/to.png"></ion-img>
      </ion-avatar>
      <div>
        <div (click)="presentToModal()">终点</div>
        {{to?.data?.address}}
        <ion-input *ngIf="to?.data" [(ngModel)]="to?.data.name" class="input-css"></ion-input>
      </div>
    </ion-item>
  </ion-list>
  费用：¥{{fee}}
</ion-content>
<ion-footer>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-button (click)="beginNow()">现在用车</ion-button>
      <ion-button>
        <ion-datetime display-format="YYYY MMM, DD HH:mm">预约</ion-datetime>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>