<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>更多设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-badge slot="start">1</ion-badge>
    <ion-label>音效提示</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-badge slot="start">2</ion-badge>
    <ion-label>隐私</ion-label>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-badge slot="start">3</ion-badge>
    <ion-label>账号与安全</ion-label>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-badge slot="start">4</ion-badge>
    <ion-label>关于我们</ion-label>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-item>

</ion-content>